# Ignore everything
*

# But not these files...
!README.md
!.gitignore
!docker-compose.yml
!/containers/
!/containers/**/*
!/.config/
!/.config/**/*

# Ignore
/containers/mosquitto/log
/containers/mosquitto/data

# Secrets we dont want to share with the world
/containers/certificates/key.pem
/containers/certificates/cert.pem
/containers/certificates/rootCA.pem
/containers/mosquitto/config/passwords
