# Ignore everything
*

# But not these files...
!README.md
!.gitignore
!/containers/
!/containers/**/*

# Ignore
/containers/mosquitto/log
/containers/mosquitto/data

# Secrets we dont want to share with the world
/containers/certificates/key.pem
/containers/certificates/cert.pem
/containers/certificates/rootCA.pem

